.keyboard-wrp {
  margin-top: 200px;
  display: flex;
  flex:0 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;

  .tiles-wrp {
    display: flex;
    // make flex 0 1 for respons
    flex: 0 0 auto;
    flex-flow: column nowrap;
    overflow: hidden;
    width: 33,3333%;

    .white-tile-wrp {
      display: flex;
      flex:  0 0 auto;
      flex-flow: row nowrap;

      .white-tile {
        height: 300px;
        width: 80px;
        background-color: white;
        border: 1px solid black;
        overflow: hidden;
      }


    }

    .black-tile-wrp {
      display: flex;
      flex:0 0 auto;
      flex-flow: row nowrap;
      position: relative;
      bottom: 301px;

      .black-tile {
        height: 200px;
        width: 50px;
        background-color: black;
        margin-left: 50px;
      }

      .black-tile-middle {
        height: 200px;
        width: 50px;
        background-color: black;
        margin-left: 85px;
      }

      .black-tile-end {
        height: 200px;
        width: 50px;
        background-color: black;
        margin-right: 85px;
      }
    }
  }
}
