<template name="tiles">
  <div class="tiles-wrp">
    <div class="white-tile-wrp">
      <div class="white-tile">

      </div>
      <div class="white-tile">

      </div>
      <div class="white-tile">

      </div>
      <div class="white-tile">

      </div>
      <div class="white-tile">

      </div>
      <div class="white-tile">

      </div>
      <div class="white-tile">

      </div>
    </div>
    <div class="black-tile-wrp">
      <div class="black-tile">

      </div>
      <div class="black-tile">

      </div>
      <div class="black-tile-middle">

      </div>
      <div class="black-tile">

      </div>
      <div class="black-tile">

      </div>
    </div>
  </div>
</template>
